<!DOCTYPE html>
<html>
<head>
    <title>Blinker Example</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
            width: 30px;
            height: 30px;
        }
    </style>
</head>
<body>
    <table>
        {% for _ in range(height) %}
            <tr>
                {% for _ in range(width) %}
                    <td></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html> 
