<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
            width: 30px;
            height: 30px;
        }
        .cell--alive {
            background-color: black;
        }
    </style>
</head>
<body>
    <table>
        {% for row in displayed_cells %}
            <tr>
                {% for cell in row %}
                    <td {% if cell %}class="cell--alive"{% endif %}></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html> 
